trigger:
  batch: true
  branches:
    include:
      - 1.19
pr:
  branches:
    include:
      - 1.19

pool: Self-hosted Agents

name: 'Set dynamically below in a task'

variables:
  version.ModVersion: '${modVersion}'
  version.Patch: \$[counter(variables['version.ModVersion'], 0)]
  versionNumber: '\$(version.ModVersion).\$(version.Patch)'

steps:
- task: Bash@3
  name: SetVersion
  displayName: Set Build Version
  inputs:
    targetType: 'inline'
    script: |
      buildName="\$(Build.SourceBranchName)-\$(versionNumber)"
      printf "Setting the name of the build to %s\\n" "\$buildName"
      echo "##vso[build.updatebuildnumber]\$buildName"

- task: Bash@3
  name: NotifyDiscordStart
  displayName: Notify Discord of Run Start
  env:
    DISCORD_WEBHOOK_URL: \$(Discord.Webhook.Url)
  condition: ne(variables['Build.Reason'], 'PullRequest')
  inputs:
    filePath: 'scripts/discord-notify'
    arguments: 'started 3224808 \$(Build.Repository.Name) \$(Build.BuildNumber)'

- task: Gradle@3
  name: CleanWorkspace
  displayName: Clean Gradle Workspace
  inputs:
    workingDirectory: ''
    gradleWrapperFile: 'gradlew'
    gradleOptions: '-Xmx6144m'
    javaHomeOption: 'JDKVersion'
    tasks: 'clean'

- task: Gradle@3
  name: BuildProject
  displayName: Build Project
  env:
    CI: true
    PATCH_NUMBER: \$(version.Patch)
  inputs:
    workingDirectory: ''
    gradleWrapperFile: 'gradlew'
    gradleOptions: '-Xmx6144m'
    javaHomeOption: 'JDKVersion'
    tasks: 'build'

- task: Bash@3
  name: ShouldDeploy
  displayName: Should Deploy Project
  condition: eq(variables['Build.SourceBranchName'], '1.19')
  inputs:
    targetType: 'inline'
    script: 'echo "##vso[task.setVariable variable=shouldDeploy;]true"'

- task: Gradle@3
  name: CloudSmithDeploy
  displayName: Deploy to CloudSmith
  condition: eq(variables['shouldDeploy'], true)
  env:
    CI: true
    PATCH_NUMBER: \$(version.Patch)
  inputs:
    workingDirectory: ''
    gradleWrapperFile: 'gradlew'
    gradleOptions: '-Xmx6144m'
    javaHomeOption: 'JDKVersion'
    tasks: 'publishMainPublicationToMavenRepository'

- task: Gradle@3
  name: CurseForgeDeploy
  displayName: Deploy to CurseForge
  condition: eq(variables['shouldDeploy'], true)
  env:
    CI: true
    PATCH_NUMBER: \$(version.Patch)
  inputs:
    workingDirectory: ''
    gradleWrapperFile: 'gradlew'
    gradleOptions: '-Xmx6144m'
    javaHomeOption: 'JDKVersion'
    tasks: 'publishCurseForge'

- task: Bash@3
  name: NotifyDiscordSuccess
  displayName: Notify Discord of Succeeded Build
  env:
    DISCORD_WEBHOOK_URL: \$(Discord.Webhook.Url)
  condition: and(ne(variables['Build.Reason'], 'PullRequest'), eq(variables['Agent.JobStatus'], 'Succeeded'))
  inputs:
    filePath: 'scripts/discord-notify'
    arguments: 'Succeeded 3470945 \$(Build.Repository.Name) \$(Build.BuildNumber)'
- task: CmdLine@2
  name: NotifyDiscordFailure
  displayName: Notify Discord of Failed Build
  env:
    DISCORD_WEBHOOK_URL: \$(Discord.Webhook.Url)
  condition: and(ne(variables['Build.Reason'], 'PullRequest'), eq(variables['Agent.JobStatus'], 'Failed'))
  inputs:
    filePath: 'scripts/discord-notify'
    arguments: 'Failed 16071463 \$(Build.Repository.Name) \$(Build.BuildNumber)'