# Changelog
{{#commits}}
- [{{{messageTitle}}}](https://github.com/NovaMachina-Mods/ExNihiloSequentia/commit/{{hashFull}}) - {{{authorName}}}
{{#messageBodyItems}}
    - {{.}}
{{/messageBodyItems}}
{{/commits}}